## Unicorn Companies Analysis

### Data Cleaning and Preprocessing
- Load the dataset: Read the CSV file into a pandas DataFrame.
- Data types conversion: Convert appropriate columns to their respective data types (e.g., 'Valuation ($B)' to float, 'Date Joined' to datetime).
- Handle missing values: Decide on a strategy to handle missing values (e.g., remove rows, fill with a placeholder).

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Unicorn_Companies.csv")

In [3]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012.0,$7.44B,IPO,28.0,8.0,5.0
1,SpaceX,$100.30,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002.0,$6.874B,NaN,29.0,12.0,NaN
2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010.0,$2.901B,Asset,39.0,12.0,1.0
3,Klarna,$45.60,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005.0,$3.472B,Acquired,56.0,13.0,1.0
4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991.0,$4.377B,Acquired,25.0,5.0,2.0

In [7]:
df.shape

(1037, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037 entries, 0 to 1036
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1037 non-null   object
 1   Valuation ($B)     1037 non-null   object
 2   Date Joined        1037 non-null   object
 3   Country            1037 non-null   object
 4   City               1037 non-null   object
 5   Industry           1037 non-null   object
 6   Select Inverstors  1020 non-null   object
 7   Founded Year       994 non-null    float64
 8   Total Raised       1013 non-null   object
 9   Financial Stage    49 non-null     object
 10  Investors Count    1036 non-null   float64
 11  Deal Terms         1008 non-null   float64
 12  Portfolio Exits    49 non-null     float64
dtypes: float64(4), object(9)
memory usage: 105.4+ KB

#### Data Type Conversion 
- Valuation -> float
- Date Joined -> Date & Timr
- Founded Year -> ?
- Total Raised -> ?
- Investors Count -> ?  # check if there is any value that is not an int - if not then convert this to integer
-

#### Data Cleaning
- Fixing null cells

#### Answer the following questions:

1. Highest Valuation: Which company has the highest valuation in the dataset?
2. Missing 'Founded Year': How many companies do not have a 'Founded Year' recorded in the dataset?
3. No Listed Investors: How many companies do not have any investors listed in the 'Select Investors' column?
4. Most Unicorns by Country: Which country has the highest number of unicorn companies?
5. Founded After 2010: How many companies were founded after the year 2010?
6. Average Valuation by Industry: What is the average valuation of unicorn companies in each industry?
7. Top 5 Cities: Which are the top 5 cities with the highest number of unicorn companies?
8. Financial Stage Distribution: What is the distribution of companies across different financial stages?
9. Most Portfolio Exits: Which companies have the most portfolio exits?
10. Valuation and Total Raised Correlation: What is the correlation between 'Valuation ($B)' and 'Total Raised'?